.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#img-home{
  background:url(Images/home.png) no-repeat center fized;
  display:table;
  height:100%;
  position:relative;
  width:100%;
  background-size:cover;
}
